@use "./mixins.scss" as mi;
@use "./config.scss" as config;

.range-slider {
	display: grid;
	grid-template-areas: "min max" "slider slider" "current current";
	&__min {
		grid-area: min;
	}
	&__max {
		grid-area: max;
		justify-self: end;
		&::before {
			content: attr(data-prefix);
		}
	}
	&__current {
		justify-self: start;
		grid-area: current;
		position: relative;
		left: calc(mi.rem(5) + var(--raw-progress) * (100% - mi.rem(10)));
		transform: translateX(-50%);
	}
	&__input {
		grid-area: slider;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		height: mi.rem(20);
		width: 100%;
		background: transparent;
		&::-moz-range-track {
			height: mi.rem(1);
			background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary) var(--progress, 0%), transparent var(--progress, 0%), transparent 100%);
			background-color: var(--color-border);
			cursor: pointer;
		}
		&::-moz-range-thumb {
			width: mi.rem(10);
			height: mi.rem(10);
			background: var(--color-primary);
			border-radius: 50%;
			border-color: transparent;
			cursor: pointer;
		}
		&::-webkit-slider-runnable-track {
			-webkit-appearance: none;
			height: mi.rem(1);
			background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary) var(--progress, 0%), transparent var(--progress, 0%), transparent 100%);
			background-color: var(--color-border);
		}
		&::-webkit-slider-thumb {
			display: flex;
			align-items: center;
			-webkit-appearance: none;
			position: relative;
			top: mi.rem(-5);
			left: 0;
			width: mi.rem(10);
			height: mi.rem(10);
			background: var(--color-primary);
			border-radius: 50%;
			border-color: transparent;
			cursor: pointer;
			z-index: 0;
		}
	}
}