:root {
	--color-border: #E0E0E0;
	--color-border-alfa: #e0e0e080;
	

	--color-sf-root: white;
	--color-sf-disabled: #E0E0E0;
	--color-sf-base: #FDFDFD;
	--color-sf-muted: #F5F5F2;
	--color-sf-alt: #1E5E46;
	--color-sf-inverse: #0A0A0A;

	--color-primary: #B5EB3D;
	--color-primary-lvl-up: #BFF547;
	--color-primary-muted: #ABE133;

	--color-text-base: #0A0A0A;
	--color-text-alt: #1E5E46;
	--color-text-base-muted: #777777;
	--color-text-inverse: #F5F5F2;
	--color-text-inverse-muted: #E0E0E0;
	--color-text-inverse-muted-alfa: #e0e0e080;
}