---
import Layout from '../layouts/Layout.astro';
---

<Layout title="CoffeOn" description="Ошибка 404">
	<section class="section-404">
		<div class="container section-404__container">
			<div class="section-404__inner">
				<div class="section-404__text tg-text-huge">Ошибка<br>404</div>
				<div class="section-404__desc tg-text-normal">Вероятно, данной страницы больше не существует. Вернитесь на главную, там много интересного</div>
				<a href="/" class="section-404__btn btn btn_rect btn_lg btn_primary">
					<span class="btn__label">Вернуться на главную</span>
					<span class="btn__icon icon-arrow-right"></span>
				</a>
			</div>
		</div>
	</section>
</Layout>