---
import Social from './Social.astro';

	interface Props {
		className?: string;
		context?: string;
	}

	const { className, context } = Astro.props;
---
<div class:list={["contacts", className, context && `contacts_${context}`]}>
	<a href="tel:+70000000000" class="btn btn_link"><span class="btn__label">+ 7 (000) 000-00-00</span></a>
	<Social></Social>
</div>