<div class="drawer coockies-agreement" data-drawer="coockies-agreement">
	<div class="drawer__panel coockies-agreement__panel" data-elem="drawer.panel">
		<div class="coockies-agreement__text tg-caption-mini">
			К нашему сайту подключен сервис веб-аналитики Яндекс Метрика, использующий cookie. Вы даете свое согласие на обработку персональных данных с помощью этого сервиса в порядке, указанном в <a href="#" class="link">Политике конфиденциальности</a>?
		</div>
		<div class="coockies-agreement__btn btn btn_rect btn_primary" data-drawer-close="coockies-agreement">
			<div class="btn__label tg-caption-mini">Да</div>
		</div>
	</div>
</div>