<div class="drawer drawer_primary drawer_center response-drawer" data-drawer="thanks-drawer">
	<div class="drawer__close-btn drawer__close-btn_mob" data-drawer-close="thanks-drawer"></div>
	<div class="drawer__panel drawer__panel" data-elem="drawer.panel">
		<div class="drawer__header">
			<div class="drawer__title tg-h2">Спасибо!</div>
			<div class="drawer__close-btn drawer__close-btn_desc" data-drawer-close="thanks-drawer"></div>
		</div>
		<div class="drawer__body response-drawer__body">
			<div class="tg-text-normal response-drawer__text">Ваша заявка отправлена. Наш менеджер скоро свяжется с вами</div>
			<a href="/" class="contact-form-drawer__submit btn btn_rect btn_lg btn_primary">
				<span class="btn__label">Вернуться на главную</span>
				<span class="btn__icon icon-arrow-right"></span>
			</a>
		</div>
	</div>
</div>